<% include ./partials/header %> 
<h1>Sign Up!</h1>

<form action="/register" method="post">
  <div class="container">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
      <input type="text" name="firstName" placeholder="first name">
        <input type="text" name="lastName" placeholder="last name">
          <input type="text" name="bio" placeholder="tell us about yourself">
          <input type="Text" name="Profilepicture" placeholder="profile pic URL">
    <button>Sign Up</button>
    </div>
</form>
<% include ./partials/footer %> 
